
<div class="pricing-table-background">
  <div class="pricing-table-container">
    <div class="pricing-table-panel pricing-table">

      <div class="pricing-plan">
        <h2 class="pricing-header"><a href="/projects/devops-for-opnsense/">Devops for OPNsense</a></h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">AWS Images</li>
          <li class="pricing-features-item">Digital Ocean Images</li>
          <li class="pricing-features-item">Configuration Sync to S3</li>
        </ul>
      </div>

      <div class="pricing-plan">
        <h2 class="pricing-header"><a href="/projects/terraform-modules/">Terraform Modules</a></h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">Amazon Web Services</li>
          <li class="pricing-features-item">Digital Ocean</li>
          <li class="pricing-features-item">OPNsense</li>
          <li class="pricing-features-item">Saltstack</li>
          <li class="pricing-features-item">Syncthing</li>
        </ul>
      </div>

      <div class="pricing-plan">
        <h2 class="pricing-header"><a href="/projects/tools-and-packages/">Tools and Packages</a></h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">Arpwitch</li>
          <li class="pricing-features-item">SSH knownhost</li>
          <li class="pricing-features-item">AWS local-instancedata</li>
          <li class="pricing-features-item">Digital Ocean API Query</li>
        </ul>
      </div>

    </div>
  </div>
</div>
